Code/*
!Code/User/
Code/User/*
!Code/User/*.json
dconf/
Electron/
gnome-session/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
kde.org/
libreoffice/
obs-studio/
Postman/
pulse/
xfce4/
yay/
systemd/
nautilus/
evolution/
jgit/
vlc/
connections.db
dleyna-server-service.conf
gnome-xdg-terminals.list
.gsd-keyboard.settings-ported
baloofilerc
dolphinrc
mimeapps.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
VirtualBox/
karboncalligraphyrc
kritadisplayrc
QtProject.conf
